// btn
.btn-link {
  font-weight: 600;
}

.btn-lg {
  font-size: 1.3rem;
  line-height: 2;
}

.btn-xl {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  &.btn-light {
    color: #bd2686;
  }
}

.btn-outline-secondary {
  border-color: #939598;
  background-color: #fff;
}

.btn-pink {
  background-color: #d85b87;
  color: #fff;
}

// form
.rounded {
  border-radius: 1.2rem !important;
}

.rounded-lg {
  border-radius: 2rem !important;
}

.form-control {
  min-height: 3.3rem;
  &::placeholder {
    color: #8a8a8a;
  }
}

.rounded .col-form-label {
  line-height: 2.5;
}

// radio
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #bebebe;
  background-color: #fff;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: none;
  background-color: $danger;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 4px;
}

.custom-radio .custom-control-label::before {
  background-color: #fff;
}
