// btn
.btn-md {
  min-height:3.3rem;
}

.btn-link {
  font-weight: 600;
}

.btn-lg {
  font-size: 1.3rem;
  line-height: 1.8;
}

.btn-xl {
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 2rem;
  font-weight: 600;
}

.btn-outline-secondary {
  border-color: #939598;
}

.btn-pink {
  background-color: #d85b87;
  color: #fff;
}

.btn-danger {
  border: 0;
  background-image: linear-gradient(90deg, rgb(228, 45, 109) 0%, rgb(151, 31, 160) 100%);
}


// form
.rounded {
  border-radius: 1.2rem !important;
}

.form-control {
  min-height: 3.3rem;
  &::placeholder {
    color: #8a8a8a;
  }
}

.rounded .col-form-label {
  line-height: 2.5;
}

