.pages {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg {
  background: url(../images/bg.jpg) 50% 0 / cover no-repeat;
}

.logo {
  width: 70vw;
  height: 12.7vw;
  background: url(../images/logo@2x.png) 50%/cover no-repeat;
}

.logo-white {
  width: 70vw;
  height: 47.4vw;
  background: url(../images/logo-white@2x.png) 50%/cover no-repeat;
}

.logo-kr {
  width: 60vw;
  height: 53vw;
  background: url(../images/logo-kr@2x.png) 50%/cover no-repeat;
}