$primary: #9a9a9a;
//$primary: #e42d6e;
$secondary: #373737;
$purple: #8e1ca6;
$info: #4657f6;
$light: #fff;
$success: #37dbbe;
$danger: #e42d6e;
$dark : #000;
$link : #9a9a9a;
$text-muted: #f0f0f0;
$input-bg: transparentize(rgba(0, 0, 0, 0), 0);
$modal-backdrop-opacity: .6;
$input-btn-padding-y: .575rem;
$font-family-base: "Noto Sans Korean", "Helvetica Neue", Helvetica, Arial, sans-serif;
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index';
@import '~vue-slick-carousel/dist/vue-slick-carousel-theme.css';

$bg-base: #f2f5fa;

$widths: (
        10 : 10%,
        15 : 15%,
        20 : 20%,
        30 : 30%,
        33 : 33.33%,
        35 : 35%,
        40 : 40%,
        60 : 60%,
        70 : 70%,
        80 : 80%,
        90 : 90%,
);

@each $key, $val in $widths {
  .w-#{$key} {
    width: $val !important;
  }
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  color: #373737;
}

img {
  max-width: 100%;
}

.x3 {
  zoom: calc(1 / 3);
}

.x2 {
  zoom: calc(1 / 2);
}

h5 {
  font-weight: bold
}

.h7 {
  font-size: 15px;
}

.bg-gradient {
  border: 0;
  background-image: linear-gradient(90deg, rgb(228, 45, 109) 0%, rgb(151, 31, 160) 100%);
}

.bg-gradient-secondary {
  border: 0;
  background-image: linear-gradient(90deg, #fbe1ec 0%, #efdff3 100%);
}


.bg-black-50 {
  background-color: #dcdbdb;
}

.bg-muted {
  background-color: $text-muted;
}

.bg-purple {
  background-color: $purple;
}

.btn-purple {
  background-color: $purple;
  color: #fff;
}

.text-purple {
  color: $purple!important;
}

.text-third {
  color: #9a9a9a;
}

.flag {
  background-color: #e42d6e;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  padding: .5rem;
}

.btn-icon {
  line-height: 1;
  padding: 0 !important;
}

.shadow-lg {
  box-shadow: 0 20px 15px 0 rgba(0, 0, 0, .4) !important;
}

.table {
  td, th {
    vertical-align: middle;
  }
}

.col-form-label {
  font-weight: bold;
}

.custom-control-label {
  display: flex;
}

.text-pre {
  white-space: pre-wrap;
}

// modal
.modal-dialog {
  margin: 0 30px;
}
.modal-content {
  border-radius: 0;
  border: 0;
}
.modal-header {
  padding: 25px;
  border-radius: 0;
  justify-content: center;
}

.modal-body {
  padding: 50px 0;
  text-align: center;
  white-space: pre-wrap;
}
.modal-footer {
  padding: 15px;
  border: 0;
  .btn {
    flex-grow: 1;
    padding: 10px 0;
    border-radius: 2rem ;
  }
}

